:root {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc(0.9em + 1vw);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

nav {
    height: 5rem;
}
nav ul {
    list-style-type: none;
    background-color: cornflowerblue;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav li {
    display: inline-block;
    padding: 1em;
}

.background::before {
    content: "";
    background-image: url('../images/taylor_lake_sunrise.jpeg');
    background-position: center;
    background-size: cover;
    position: absolute;
}

body {

}

header {
    width: 100%;
    text-align: center;
}

main {
    position: absolute;
    margin: 2rem, 2rem, 2rem, 50rem;
    padding: 5rem;
}

h1 {
    color: black;
}

#first_image {
    height: 100rem;
}

p {
    color: black;
}

footer {
    position: absolute;
    margin: 20rem 0 0 0;
    bottom: -50rem;
    width: 100%;
    height: 1rem;
    background-color: lightgray;
    text-align: center;
    padding: 2rem;
}

a:hover {
    color: whitesmoke
}


