/* Global rules */
:root {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc(0.4em + 1vw);
}

html, body {
    width: 50%;
    height: 50%;
}

main {
    position: absolute;
    margin: 2rem, 2rem, 2rem, 50rem;
    padding: 2rem;
}

/* GENERAL */
h1 {
    color: black;
}

p {
    color: black;
}

a:hover {
    color: whitesmoke
}

/* Nav bar rules */
nav {
    height: 5rem;
}
nav ul {
    list-style-type: none;
    background-color: cornflowerblue;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,2);
}

nav li {
    display: inline-block;
    padding: 1em;
    color: black;
    font-size: 1em;
}

/* Dropdown Button */
.dropbtn {
    background-color: cornflowerblue;
    font-size: 1em;
    border: none;
}

/* The container needed to contain the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: cornflowerblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px, 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show dropdown menu on Hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when content is shown. */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
.background::before {
    content: "";
    background-image: url('../images/taylor_lake_sunrise.jpeg');
    background-position: center;
    background-size: cover;
    position: absolute;
}

/* HOME PAGE */
.home-image {
    max-width: 60%;
    float: right;
    
}

/* PHOTOS */
.photos-image {
    max-width: 40%;
}

/* Testimonials styling. */
.testimonials {
    text-align: center;
}

/* Footer styling */
footer {
    position: absolute;
    margin: 20rem 0 0 0;
    bottom: -50rem;
    width: 100%;
    height: 1rem;
    background-color: lightgray;
    text-align: center;
    padding: 2rem;
}