:root{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    font-size: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornflowerblue;
    display: table;
    width: 260px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

nav li {
    display: block;
    font-size: 20px;
    color: #fff;
    position: relative;
    padding: 25px 0 25px 25px;
}

body {
    background-color: whitesmoke;
}

header {
    width: 100%;
    text-align: center;
}

main {
    position: absolute;
    margin: 2rem, 2rem, 2rem, 50rem;
    padding: 5rem;
}

h1 {
    color: black;
}

#first_image {
    height: 100rem;
}

p {
    color: black;
}

footer {
    position: absolute;
    margin: 20rem 0 0 0;
    bottom: -50rem;
    width: 100%;
    height: 1rem;
    background-color: lightgray;
    text-align: center;
    padding: 2rem;
}

a:hover {
    color: whitesmoke
}


